@import url(https://fonts.googleapis.com/css?family=Overpass:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

:root {
    --primary-color: #c04ae2;
    --secondary-color: #111111;
    --icon-anchor: #fe6786;
    --icon-line: #5cd8a5;
    --icon-chart: #fea95b;
    --white-color: #fff;
    --text-grey-color: #747474;
    --dark-grey-color: #2e2e2e;
    --input-bg-color: #f3f9fb;
    --facebook: #3b5998;
    --twitter: #00acee;
    --instagram: #E4405f;
    --linkedin: #0e76a8;
    --first-project-border-color: #f1e8ed;
    --second-project-border-color: #6bc2ed;
    --third-project-border-color: #fed440;

    --primary-font: 'Poppins', sans-serif;
    --secondary-font: 'Overpass', sans-serif;
}
